---
import BaseLayout from '../../layouts/BaseLayout.astro';
const lang = 'en'; // or 'en' based on folder or file
---
<BaseLayout lang={lang} path='/'>
  <h1>Welcome to Itqan</h1>
  ...
</BaseLayout>
