---
import BaseLayout from '../../layouts/BaseLayout.astro';
const lang = 'ar'; // or 'en' based on folder or file
---
<BaseLayout lang={lang} path='/'>
  <h1>مرحبا بك في إتقان</h1>
  ...
</BaseLayout>
